<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="element">
        <base th:href="${#request.getContextPath()}+'/'">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

        <!--<link rel="stylesheet" href="plugins/element/index.css">-->

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!--<script type="text/javascript" src="plugins/vue.js"></script>-->

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!--<script src="plugins/element/index.js"></script>-->

        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </th:block>

</head>
<body>

</body>
</html>