<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>显示页面</title>

<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" >-->

<link rel="stylesheet" href="plugins/element/index.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="plugins/vue.js"></script>


    <script src="plugins/element/index.js"></script>
</head>
<body>

<div id="app" >
    {{mesg}}

    <template>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="date"
                    label="日期"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="address"
                    label="地址">
            </el-table-column>
        </el-table>
    </template>

    <select>
        <option v-for="p in prvs" v-text="p.dname"></option>
    </select>

</div>

<script type="text/javascript">
    new Vue({
        el: "#app",
        data:{
            mesg:"hello",
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }],
            prvs:[]
        },
        mounted:function (){
            var _this=this;
            axios.get('getDept')
                //注意，此处最好使用箭头函数 ，因为箭头函数不绑定this
            .then(function (response) {
                    console.log(response);
                _this.prvs=response.data;
            })
            .catch(function (error) {
                    console.log(error);
            });
        },
        methods:{

        }
    });

</script>
</body>
</html>